*{
    margin: 0;
    padding: 0;
}
h1{
    width: 100%;
    height: 70px;
    font-weight: 700;
    text-align: center;
    font-size: 80px;
}

.team{
    margin-top: 5%;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
}
.box{
    width: 42.5%;
    height: 80%;
    margin-left: 5%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}
.team2{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
   
}
.member{
    width: 42.5%;
    height: 80%;
    margin-left: 5%;
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.Photo1{
    height: 80%;
    width: 200px;
    border-radius:50% ;
   background-image: url(https://cdn.pixabay.com/photo/2024/04/18/04/22/04-22-20-13_960_720.jpg);
    margin-top: 5.5%;
    background-position: center;
    background-size: cover;
    margin-left: 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: 1px solid rgba(0, 0, 0, 0.355);
}

.Photo2{
    height: 80%;
    width: 200px;
    border-radius:50% ;
   background-image: url(https://cdn.pixabay.com/photo/2024/04/17/18/25/boy-8702703_960_720.jpg);
    margin-top: 5.5%;
    background-position: center;
    background-size: cover;
    margin-left: 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: 1px solid rgba(0, 0, 0, 0.355);
}

.Photo3{
    height: 80%;
    width: 200px;
    border-radius:50% ;
   background-image: url(https://cdn.pixabay.com/photo/2024/04/17/18/04/people-8702678_960_720.jpg);
    margin-top: 5.5%;
    background-position: center;
    background-size: cover;
    margin-left: 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: 1px solid rgba(0, 0, 0, 0.355);
}.Photo4{
    height: 80%;
    width: 200px;
    border-radius:50% ;
   background-image: url(https://cdn.pixabay.com/photo/2024/04/17/18/22/children-8702699_960_720.jpg);
    margin-top: 5.5%;
    background-position: center;
    background-size: cover;
    margin-left: 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: 1px solid rgba(0, 0, 0, 0.355);
}
p{
    margin-left: 100%;
   width: 150px;
   padding: 20%;
   
}
